body{
    font-family: Roboto, sans-serif;
    color: #0f3c4b;
    background-color: #e5edf1;
    padding: 5rem 1.25rem;
}

#app{
    width: 100%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
}

#file-loading-form{
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

#file-loading-form.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}

#file-loading-form .download-icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

#file-loading-form .file-field-container .field-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-loading-form .file-field-container .field-label{
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

#file-loading-form .file-field-container .field-label:hover strong,
#file-loading-form .file-field-container .field-input:focus + .field-label strong {
    color: #39bfd3;
}

#file-loading-form .submit-button{
    border: none;
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
    cursor: pointer;
}

#file-loading-form .submit-button:hover, #file-loading-form .submit-button:focus {
    background-color: #0f3c4b;
}